body{
    max-width: 1300px;
    margin: 0 auto;
}
.banner-image{
    background-image: url("./images/banner.png");
    padding: 200px 0px;
    margin: auto;
    width: 1200px;
    background-repeat: no-repeat;
    margin-top: 50px;
}
.text{
    color: aliceblue;
    text-align: center;
    align-items: center;
}
.text-2{
    margin-top: 50px;
    text-align: center;
}
.middle{
    margin-top: 50px;
    display: flex;
   
    text-align: center;
    height: 400px;

}
.middle-2{
    display: flex;
    text-align: center;
    height: 400px;
}
.middle-3{
    background-color: #E7E7E7;
}
.carousel{
    width: 100%;
}
